<header>
  <div>
    <br>
    <hr>
    <h1 class="mt-2 ms-5 fw-semibold">Example Blog Project</h1>

  </div>
</header>
<body>

<p class="mt-2 ms-5 d-inline-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet animi deleniti
  dolore doloribus ducimus eaque, eius eos et exercitationem explicabo fuga ipsa ipsum libero minima molestiae molestias
  necessitatibus nisi possimus qui quibusdam quisquam sapiente similique sint tempora totam ullam voluptatibus? A
  adipisci dolorum ipsa mollitia nostrum nulla, voluptatum. Quaerat.</p>

<div class="container-12 mx-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    <div class="col "
         *ngFor="let post of posts | paginate:{itemsPerPage: tableSize, currentPage:page,totalItems:count} let i =index">
      <app-card [postInput]="post"></app-card>

    </div>
  </div>


</div>
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Post Details</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="row">
        <div class="mt-2">




        </div>

        <div class="container">
          <div class="row">
            <div class="col mx-3">
              <div class=" mb-4">
                <div class="">
                  <h5 class="my-2 mt-4">Comments</h5>

                  <div class="comments commentBg" *ngFor="let comment of comments">

                    <div class="users" *ngFor="let user of users">
                      <div *ngIf="comment.userId == user.id">
                        <!--<div *ngIf="comment.postBodyId == postId">
                          <img class="rounded-circle m-2 profile " src="/assets/images/profile/profile{{user.id}}.jpg"
                               alt="">

                          <span class="fw-semibold">{{user.name}}</span>
                          <div class="ms-5 ">
                            <div class="mb-1">{{comment.name}}</div>
                            <p class="commentBody pb-3">{{comment.body}}</p>
                          </div>
                        </div>-->
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>
<div class="text-center mt-2">
  <pagination-controls
    class="justify-content-center"
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"
  >

  </pagination-controls>
</div>

</body>

