<header>
  <div>
    <br>
    <hr>
    <h1 class="mt-2 ms-5 fw-semibold">Example Blog Project</h1>

  </div>
</header>
<body>

<p class="mt-2 ms-5 d-inline-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet animi deleniti
  dolore doloribus ducimus eaque, eius eos et exercitationem explicabo fuga ipsa ipsum libero minima molestiae molestias
  necessitatibus nisi possimus qui quibusdam quisquam sapiente similique sint tempora totam ullam voluptatibus? A
  adipisci dolorum ipsa mollitia nostrum nulla, voluptatum. Quaerat.</p>

<div class="container-12 mx-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    <div class="col "
         *ngFor="let post of posts | paginate:{itemsPerPage: tableSize, currentPage:page,totalItems:count} let i =index">
      <app-card (selectedCard) ="selectedPost($event)" [postInput]="post"></app-card>

    </div>
  </div>


</div>
<div class="modal" id="viewModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Post Details</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="viewModal"></button>
      </div>
      <app-single-post [cardInput] = "{cardId,cardBody,cardTitle,cardImageId,cardUserId}"></app-single-post>
    </div>

  </div>
</div>

<div class="modal" id="editModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Edit Post</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="editModal"></button>
      </div>
      <app-edit-form [editInput] = "{cardId,cardBody,cardTitle,cardImageId,cardUserId}" ></app-edit-form>
    </div>

  </div>
</div>
<div class="text-center mt-2">
  <pagination-controls
    class="justify-content-center"
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"
  >

  </pagination-controls>
</div>

</body>

