<div class="card mt-2">
  <img  src="/assets/images/image{{postInput.imageId}}.jpg" alt="" class="card-img-top rounded-0">
  <div class="card-body">
    <p class="postTitle"> {{postInput.title}}</p>
    <button  type="button" class="btn btn-outline-dark float-start rounded-0"
            data-bs-toggle="modal" data-bs-target="#myModal">View
    </button>
    <button type="button" class="btn btn-outline-dark rounded-0">Edit</button>
    <span class="badge text-bg-secondary float-end mt-2">post-{{postInput.id}}</span>
  </div>
</div>
